
.resumeContainer {
    background-color: #40916c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13%;
    margin-top: 5%;
}

.skills {
    margin-right: 15%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume-title {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    height: 40px;
    width: 55rem;
    margin-left: 17%;
    border: 5px solid #266150;
    background-color:#266150;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 30px;
    padding-bottom: 4%;
    padding-top: 10px;
}


@media screen and (max-width: 390px) {

    .resume-title {
        font-size: 30px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 2%;
        margin-top: 5px;
        text-decoration: underline;
        border: 5px solid #266150;
        height: 50px;
        width: 80%;
        margin-left: 10%;
        margin-right: 5%;
        padding-bottom: 5px;
        padding-top: 1%;
    }

    .skills {
        margin-bottom: 10%;
    }

}