
.resumeContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13%;
    margin-top: 5%;
}

.skills {
    margin-right: 15%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 390px) {

    .skills {
        margin-bottom: 10%;
    }

}