.aboutContainer {
    background-color: black;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    flex-wrap: wrap;
}

.profile-pic {
    width: 300px;
    border-radius: 50%;
    margin-left: 39%;
}

.headerAbout {
    text-align: center;
    border-bottom: solid 1px white;
}

.par {
    padding-top: 20px;
}





@media screen and (max-width: 390px) {
    .aboutContainer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
        /* margin-left: 2%;
        margin-right: 10%; */
        /* margin-top: 50px !important;
        margin-bottom: 50px !important; */
    }

    .profile-pic {
        /* width: 200px; */
        border-radius: 50%;
        /* margin-top: 20px; */
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        margin-left: 30px;
    }

    .par {
        align-content: center;
        margin-top: 20px;
        text-align: center;
        margin-left: 4%;
        padding-right: 5%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

  .col {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }

}