.aboutContainer {
    background-color: #40916c;
    margin-bottom: 50px;
    margin-top: 200px;
}

.profile-pic {
    width: 300px;
    border-radius: 50%;
    margin-left: 39%;
}

.aboutMe {
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    text-decoration: underline;
    border: 5px solid #266150;
    /* background-color: #266150 !important; */
    border-radius: 10px;
    width: 55rem;
    margin-left: 17%;
    margin-bottom: 50px;
}

.accordion-button {
    background-color: #266150 !important;
    font-size: 30px !important;
    text-decoration: underline !important;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: white !important;
    box-shadow: none !important;
}

.accordion-button.collapsed {
    color: white !important;
}
.accordion-header {
    justify-content: center !important;
    text-align: center !important;
    margin-left: 340px !important;
    border: #266150 !important;
}
.accordion-item {
    background-color: #266150 !important;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: white !important;
    border: #266150 !important;
}

.accordion-body {
    padding-bottom: 25px !important;
    padding-top: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.accordion {
    width: 56rem !important;
    justify-content: center !important;
    text-align: center !important;
    /* display: flex !important;
    flex-direction: row !important; */
    padding: 10px !important;
    margin-left: 240px !important;
    border-radius: 10px !important;
}

.par {
    justify-content: center !important;
    margin-top: 50px !important;
    text-align: center !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
}

@media screen and (max-width: 390px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .aboutMe {
        font-size: 30px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 2%;
        margin-top: 20px;
        margin-right: 6%;
        text-decoration: underline;
        border: 5px solid #266150;
        width: 50%;
        height: 50px;
        padding: 5px;
    }

    .par {
        justify-content: center;
        margin-top: 20px;
        text-align: center;
        width: 90%;
        margin-left: 4%;
    }

    .profile-pic {
        width: 200px;
        border-radius: 50%;
        margin-left: 20%;
        margin-top: 10%;
    }

    .accordion {
        width: 1rem !important;
        height: 50px !important;
        justify-content: center !important;
        text-align: center !important;
        display: flex !important;
        flex-direction: row !important; 
        flex-wrap: wrap !important;
        border-radius: 10px !important;
        margin-left: 10% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 50px !important;
    }

    .accordion-item .accordion-header .accordion-button{
        width: 15rem !important;
        height: 50px !important;
        margin-right: 10% !important;
        padding-right: 10px !important;
    }

    .accordion-header {
        padding-right: 50px !important;
    }

}