.contactpage {
    background-color: #40916c;
}

.form-container {
    width: 50%;
    margin: 3%;
}
.contact1{
    font-size: 35px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 3%;
    margin-top: 30px;
    text-decoration: underline;
    border: 5px solid #266150;
    background-color:#266150;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    padding-bottom: 4%;
}
.contact {
font-size: 30px;
margin: 0%;
}

@media screen and (max-width: 375px) {
    .contact1{
        font-size: 35px;
        padding: 5px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 2%;
        margin-top: 30px;
        text-decoration: underline;
        border: 5px solid #266150;
        width: 300px;
        margin-left: 10%;
        margin-right: 5%;
}
    .contact{
        margin-top: 20px;
    }

    .form-container {
        margin-left: 25%;
    }
}