
.portfolio {
    background-color: #40916c;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

Header {
    padding: 20px 0px;
    background-color: #78c6a3;
  }
  
  Header h1 {
    background-color: #139b74;
    font-size: 50px;
    padding: 5px 80px 10px 100px;
    padding-left: 50px;
    border-radius: 0px 7px 7px 0px;
    margin-right: 450px;
  }

.contactIcon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
}

.footer {
    padding: 6rem !important;
	animation: gradient 15s ease infinite;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
    height: 30px;
    background-color:linear-gradient(#40916c, #91e5d1) !important;
}

#contact-links {
    display:flex;
    justify-content: center;
    align-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
}

#contact-links a {
    font-size: 30px;
    color: black;
    padding:5px;
}

.icon-links {
    margin: 30px;
    text-align: center;
}


.icon-links a:hover {
    border-bottom: 2px solid white;
    color: white !important;
}

@media screen and (max-width: 390px) {
.footer {
    background-color:linear-gradient(#40916c, #91e5d1) !important;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.portfolio {
    background-color: #40916c;
    
}

Header {
    background-color: #78c6a3;
    width: 100vw;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
    position: relative;
  }
  
  Header h1 {
    display: flex;
    flex-direction: row;
    background-color: #266150;
    font-size: 20px;
    padding: 10px 50px 10px 200px;
    color: white;
    width: 300px;
  }

}

